{% for wish in wishes %}
    <div class="wishCard" id="wish-{{ wish.id }}" >
        <div class="flex justify-between items-center gap-2">
            <a href="{{ path('app_wish_show', { id: wish.id}) }}" class="flex-grow">
                <h2 class="text-2xl font-semibold hover:text-primary-700">
                    {{ wish.title }}
                </h2>
            </a>

{#            <form method="post" action="{{ path('app_wish_status', {id: wish.id}) }}" style="display: flex;" data-turbo="false">#}
{#                <input type="hidden" name="_token" value="{{ csrf_token('status' ~ wish.id) }}">#}
{#                <button type="submit" class="cursor-pointer text-xl" title="Changer le statut">#}
{#                    {{ wish.isCompleted ? '✅' : '❌' }}#}
{#                </button>#}
{#            </form>#}
            {% if app.user is same as(wish.author) %}
                <button
                        class="cursor-pointer text-2xl"
                        data-wish-url="{{ path('app_wish_status', {id: wish.id}) }}"
                        title="Changer le statut">
                    {{ wish.isCompleted ? '✅' : '❌' }}
                </button>
            {% else %}
                <div class="text-2xl">
                    {{ wish.isCompleted ? '✅' : '❌' }}
                </div>
            {% endif %}
        </div>
        <p class="my-2">{{ wish.description }}</p>
        <div class="flex justify-between items-end">
            <a href="{{ path('app_wish_user', { id: wish.author.id }) }}">
                <em class="font-medium text-gray-600 hover:text-primary-500">{{ wish.author.firstName }} {{ wish.author.lastName }}</em>
            </a>
            <div>
                <em class="text-gray-500">{{ wish.isPublished ? 'Public' : 'Privé'}}</em>
                -
                <span>{{ wish.createdAt|date('d/m/Y') }}</span>
            </div>
        </div>
    </div>
{% else %}
    <div class="mt-5">
        <p class="text-center">Pas de souhait</p>
    </div>
{% endfor %}