{% for wish in wishes %}
    <div class="wishCard" id="wish-{{ wish.id }}" >
        {% if wish.category is not empty %}
            <em class="text-sm font-semibold text-gray-500">{{ wish.category.name }}</em>
        {% endif %}
        <div class="flex justify-between items-center gap-2">
            <a href="{{ path('app_wish_show', { id: wish.id}) }}" class="flex-grow">
                <h2 class="wishCardTitle m-0">
                    {{ wish.title }}
                </h2>
            </a>
            {% if app.user is same as(wish.author) %}
                <button
                        class="cursor-pointer text-2xl hover:text-shadow-md hover:scale-110"
                        data-wish-url="{{ path('app_wish_status', {id: wish.id}) }}"
                        title="Changer le statut">
                    {{ wish.isCompleted ? '✅' : '❌' }}
                </button>
            {% else %}
                <div class="text-2xl">
                    {{ wish.isCompleted ? '✅' : '❌' }}
                </div>
            {% endif %}
        </div>
        <div class="relative my-2 max-h-24 overflow-hidden">
            <p>
                {{ wish.description|slice(0, 255) }}{{ wish.description|length > 255 ? ' ...' : ''}}
            </p>
            {% if wish.description|length > 255 %}
                <div class="absolute bottom-0 left-0 w-full h-4
                    bg-gradient-to-t from-white to-transparent">
                </div>
            {% endif %}
        </div>
        {% if admin is defined and admin %}
            <div class="text-end my-2">
                {{ include('wish/_delete_form.html.twig', {id: wish.id}) }}
            </div>
        {% endif %}
        <div class="flex justify-between items-end">
            <a href="{{ path('app_wish_user', { id: wish.author.id }) }}">
                <em class="font-medium text-gray-600 hover:text-primary-500">{{ wish.author.firstName }} {{ wish.author.lastName }}</em>
            </a>
            <div>
                <em class="text-gray-500">{{ wish.isPublished ? 'Public' : 'Privé'}}</em>
                -
                <span>{{ wish.createdAt|date('d/m/Y') }}</span>
            </div>
        </div>
    </div>
{% else %}
    <div class="mt-5">
        <p class="text-center">Pas de souhait</p>
    </div>
{% endfor %}

{% include 'partials/_pagination.html.twig' %}