{% extends 'base.html.twig' %}

{% block title %}
    {% if isOwner %}
        My Wishes
    {% else %}
        {{ user.firstName }} {{ user.lastName }}
    {% endif %}
    | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="mx-auto px-2 pt-5 pb-16">
        <h2 class="text-3xl text-center font-semibold my-4 text-shadow-lg">
            {% if isOwner %}
                Ma liste
                {% else %}
                Liste de
                <br>
                {{ user.firstName }} {{ user.lastName }}
            {% endif %}
        </h2>
        {% if isOwner %}
            <div class="text-center my-6">
                <a href="{{ path('app_wish_new') }}" class="btn-primary p-3">Nouveau souhait</a>
            </div>
        {% endif %}

        {% include 'partials/search_comp.html.twig' with {
            'searchUrl': path('app_wish_user', {id: user.id})
        } %}

        <div id="wishesContainer">
            {% include 'partials/_wishes_list.html.twig' %}
        </div>
    </section>
{% endblock %}