{% extends 'base.html.twig' %}

{% block title %}Wish | {{ parent() }}{% endblock %}

{% block body %}
<section class="mx-auto px-2 py-15 w-full sm:w-2/3 md:1/2">
    <div class="wishCard" id="wish-{{ wish.id }}">
        <div class="header">
            <div>
                {% if wish.category is not empty %}
                    <em class="text-sm font-semibold text-white">{{ wish.category.name }}</em>
                {% endif %}
                <div class="flex justify-between items-center gap-2">
                    <h2 class="m-0">
                        {{ wish.title }}
                    </h2>
                </div>
            </div>
            {% if app.user is same as(wish.author) %}
                <button
                        class="cursor-pointer text-2xl hover:text-shadow-md hover:scale-110"
                        data-wish-url="{{ path('app_wish_status', {id: wish.id}) }}"
                        title="Changer le statut">
                    {{ wish.isCompleted ? '✅' : '❌' }}
                </button>
            {% else %}
                <div class="text-2xl">
                    {{ wish.isCompleted ? '✅' : '❌' }}
                </div>
            {% endif %}
        </div>
        <div class="relative my-2 max-h-28 overflow-hidden p-4">
            <p>
                {{ wish.description}}
            </p>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-end m-2">
                {{ include('wish/_delete_form.html.twig', {admin: true}) }}
            </div>
        {% endif %}
        <div class="flex justify-between items-end p-2">
            <a href="{{ path('app_wish_user', { id: wish.author.id }) }}">
                <em class="font-medium text-gray-600 hover:text-primary-500">{{ wish.author.firstName }} {{ wish.author.lastName }}</em>
            </a>
            <div>
                <em class="text-gray-500">{{ wish.isPublished ? 'Public' : 'Privé'}}</em>
                -
                <span>{{ wish.createdAt|date('d/m/Y') }}</span>
            </div>
        </div>
    </div>
    {% if app.user is same as(wish.author) %}
        <div class="flex justify-end mt-6 gap-2">
            <a href="{{ path('app_wish_edit', {'id': wish.id}) }}" class="btn-primary">Modifier</a>
            {{ include('wish/_delete_form.html.twig') }}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="text-end my-3">
            <button id="showNewCommentFormBtn" class="btn-primary">Ajouter un commentaire</button>
        </div>
        {{ include('comment/_form.html.twig') }}
    {% endif %}

    <div class="grid gap-3 mt-3">
        {% for comment in comments %}
            {{ include('comment/_card.html.twig', {comment: comment}) }}
        {% endfor %}
    </div>

    <div class="mt-6">
        <a href="{{ path('app_home') }}" class="btn-secondary">Retour à la liste</a>
    </div>
<section>
{% endblock %}